.button
    position: relative
    width: 117px
    height: 41px
    background: #86BC42
    border-radius: 50px
    border: none
    font-family: 'OpenSans'
    font-weight: 600
    font-size: 14px
    line-height: 18px
    text-transform: uppercase
    color: #FFFFFF
    &_line
        outline: none
        border: none
        display: block
        margin: 0 auto
        width: 209px
        margin-top: 22px
        &::after
            content: ''
            display: block
            position: absolute
            bottom: 20px
            right: 0
            width: 17px
            height: 0.5px
            background-color: #fff
    &__feed
        
        width: 226px