@media screen and ( max-width: 1650px )
    .feed
        padding: 50px 0
    .feed__header
        margin-left: 67px
    .feed__descr
        margin-left: 135px
    .footer__list
        margin-right: 0px

@media screen and ( max-width: 1280px )
    .rates
        padding: 48px 30px
        &__wrapper
            width: 960px
    .info
        &__partners
            padding: 37px 10px 70px 10px
        &__descr
            height: 420px
            font-size: 14px
    .footer
        &__items
            padding: 23px 0px 32px 10px
            width: 64.72%
        &__list
            width: 420px
    .portfolio
        &__descr
            padding: 0 130px
    .feed
        &__text
            padding-top: 0px
        &__descr
            font-size: 14px
            margin-left: 76px
            margin-top: 30px
            a
                font-size: 14px
        &__header
            margin-left: 35px
            &::before
                width: 36px
                left: -35px
@media screen and ( max-width: 1023px )
    .xs-visible-plant
        display: block
        position: absolute
        bottom: -120px
        right: 0
    header
        height: 41px
    .head > div.container
        width: auto
        margin-left: 30px
    .head
        height: 41px
        &__wrapper
            height: 41px
        &__login
            display: flex
            align-items: center
        &__name
            display: none
        &__contacts
            display: flex
            align-items: center
        &__phone
            display: flex
            width: 157px
        &__email
            display: flex
        &__registr
            width: 181px
    .xs-visible
        display: block
        margin-left: 70px
        margin-top: 2px
    .xs-hide
        display: none
    .menu__list
        position: fixed
        flex-direction: column
        justify-content: space-around
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 80px 20px
        background-color: rgba(75, 84, 100, 0.808)
        transition: 0.6s all
        &_active
            left: 0
            padding: 80px 40px 80px 40px
    .menu__item
        border: none
        padding-right: 0
    .menu__link
        font-size: 20px
        color: #fff
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 42%
        transform: translateY(-50%)
        width: 36px
        height: 12px
        margin-right: 14px
        span
            display: block
            height: 3px
            border-radius: 25%
            background-color: #86BC42
            margin-top: 3px
            transition: 0.3s all
        &_active
            span
                margin-top: -2px
                &:first-child
                    transform: translateY(8px) rotate(-45deg)
                &:last-child
                    transform: translateY(8px) rotate(45deg)
                &:nth-child(2)
                    display: none
    .rates
        min-height: 384px
        &__wrapper
            width: 708px
            height: 290px
            padding: 16px 12px 21px 23px
        &__form
            margin-left: 0
        &__calculator
            margin-top: 0
            form
                #square, #aparts
                    width: 261px
                    height: 35px
                label, #month
                    font-size: 12px
        &__descr
            font-size: 12px
            line-height: 1.8
            margin-left: 100px
            div.free
                margin-left: 39px
                margin-top: 28px
                &::before
                    width: 24px
                    height: 27px
                    left: -39px
            div.counter
                font-size: 12px
                margin-top: 24px
        .month
            label
                margin-right: 13px
    .promo
        min-height: 400px
        padding: 26px 0
        &__wrapper
            width: 622px
            height: 342px
            padding: 34px 0
        &__header
            font-size: 26px
            span
                font-size: 19px
        &__form
            margin-top: 35px
            width: 421px
            height: 52px
            input
                width: 114px
                height: 30px
                padding: 8px 10px
                font-size: 12px
                &:nth-child(2)
                    width: 162px
        &__icons
            margin-top: 37px
            width: 448px
        &__icon
            font-size: 12px
            img
                width: 41px
                margin-bottom: 20px
            &:nth-child(1)
                &::before
                    font-size: 17px
                    bottom: 71px
                    left: 17px
                &::after
                    bottom: 64px
                    right: -72px
                    width: 71px
            &:nth-child(2)
                &::before
                    font-size: 17px
                    bottom: 71px
                    left: 33px
                &::after
                    bottom: 64px
                    right: -72px
                    width: 71px
            &:nth-child(3)
                &::before
                    font-size: 17px
                    bottom: 71px
                    left: 19px
    .feed
        padding: 0 0 60px 0
        &__plant
            bottom: 5px
        &__header
            margin: 0 auto
            margin-top: 68px
            width: 555px
            text-align: left
            &::before
                width: 98px
                left: -95px
        &__text
            text-align: center
            height: 800px
            width: 579px
            img
                width: 579px
                margin-left: -22px
        &__descr
            margin: 0 auto
            text-align: left
            margin-top: 12px
            width: 555px
            a 
                margin-left: 375px
        &__carousel_xs
            display: block
            margin: 0 auto
    .button
        width: 86px
        height: 30px
        font-size: 11px
        &_line
            margin-top: 20px
            width: 209px
            height: 41px
            font-size: 14px
        &__feed
            width: 226px
    .footer
        &__items
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 300px
            padding-left: 31px
        &__list
            margin-top: 18px
        &__phone
            margin-top: 18px
        &__divider
            display: none
        &__about
            padding: 71px 25px 15px 20px
    .info
        &__plant
            top: -139px
        &__wrapper
            display: flex
            flex-direction: column
        &__descr
            margin-right: 0
            margin-top: 20px
        &__partners
            margin-top: 35px
            width: 422px
            padding: 30px 20px 70px 20px
    .portfolio
        min-height: 490px
        padding: 34px 0
        &__descr
            padding: 0 0
@media screen and ( max-width: 767px )
    .xss_hidden
        display: none
    .xss_visible
        display: block
        position: absolute
    .container
        width: 94.5%
    .title
        font-size: 16px
        width: 331px
        margin: 0 auto
    .mob_hidden
        display: none
    header
        height: 70px
    .menu__list_active
        width: 75%
    .head
        height: 70px
        &__wrapper
            height: 70px
        &__contacts
            display: flex
            flex-direction: column
            align-items: start
            justify-content: space-between
            height: 52px
        &__email
            img
                margin-left: 0
        &__cabinet
            display: flex
            flex-direction: column-reverse
            align-items: flex-end
            justify-content: space-between
        &__regist
            height: 37px
            margin-bottom: 4px
        &__login
            margin-bottom: 4px
            img
                width: 35px
    .promo
        min-height: 247px
        &__header
            font-size: 20px
            span
                font-size: 15px
        &__wrapper
            width: 345px
            height: 195px
            padding: 19px 0
        &__form
            padding: 9px 10px
            height: 48px
            margin-top: 12px
            display: flex
            flex-wrap: wrap
            width: 308px
            button
                margin: 0 auto
                margin-top: 25px
                position: relative
                &::before
                    content: ""
                    position: absolute
                    width: 102px
                    height: 42px
                    background-color: #fff
                    border-radius: 37px
                    z-index: -1
                    top: -6px
                    left: -8px
    .mob_visible
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        img
            width: 345px
            margin-top: 25px
    .button
        &_line
            margin-top: 39px
    .portfolio
        padding: 27px 0
        &__descr
            font-size: 14px
    .info
        padding: 0 5px 39px 5px
        &__plant
            right: 0px
            top: -90px
        &__wrapper
            margin: 0 auto
            margin-top: 10px
            width: 345px
        &__descr
            width: 345px
            height: 540px
            p 
                font-size: 14px
        &__partners
            width: 345px
            height: 374px
            padding: 29px 9px
        &__partner
            padding-left: 23px
    .rates
        min-height: 550px
        padding: 33px 0
        &__wrapper > h2
            width: 254px
        &__wrapper
            width: 345px
            height: 484px
            padding: 27px 31px 25px 31px
        &__calculator
            display: flex
            flex-direction: column
        &__form
            width: 262px
            height: 191px
            #aparts, #square
                margin-bottom: 8px
            label
                margin-bottom: 2px
        &__descr
            margin-left: 0
            padding-top: 15px
            width: 282px
            height: 170px
    .feed
        padding: 40px 0 0 0
        &__plant
            bottom: -88px
        &__header
            margin: 0 auto
            margin-top: 30px
            font-size: 14px
            width: 335px
        &__text
            width: 345px
            height: 680px
            img
                width: 345px
                height: 253px
                margin-left: -15px
        &__descr
            width: 335px
            height: 276px
            a 
                margin-left: 166px
    .footer
        &__plant
            bottom: -375px
        &__wrapper
            display: flex
            flex-direction: column
        &__about
            padding: 35px 15px
            text-align: center
            h2 
                text-shadow: none
        &__descr
            text-align: center
        &__items
            width: 100%
            height: 320px
            padding: 28px 20px 25px 18px
        &__list
            padding-left: 15px
            width: 331px
            height: 105px
        &__item
            width: 166px
            a
                width: 166px
        &__phone
            margin-top: 21px
@media screen and ( max-width: 374px )
    .container
        width: 99%
    .head > div.container
        margin-left: 0
    .head
        &__regist
            width: 145px
    .promo
        &__wrapper
            width: 315px
    .mob_visible
        img
            width: 315px
    .info
        padding: 0 0px 39px 0px
        &__wrapper
            width: 315px
        &__descr
            width: 315px
        &__partners
            width: 315px
            margin-top: 65px
            padding: 29px 3px
        ol
            li::before
                margin-right: 28px
    .rates
        &__wrapper
            width: 315px
            padding: 27px 11px 25px 15px
    .feed
        &__text
            width: 315px
            img
                width: 315px
        &__header
            width: 315px
        &__descr
            width: 315px
            a 
                margin-left: 140px
    .footer
        &__items
            padding: 28px 0px 25px 0px
        &__list
            width: 315px
        &__item
            width: 135px
